<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Clientes Cadastrados</h1> 
    <div id="form_fundo" class="listaUsuarios">
      <div id="form_frente" class="listaUsuarios">
          {% if usuarios %}
              {% for c in usuarios %}
                  <ul>
                      <li>NOME: {{c[0]}}</li><br>
                      <li>CPF: {{c[1]}}</li>
                      <li>DataNasc: {{c[2]}}</li>
                      <li>Sexo: {{c[3]}}</li>
                  </ul>
              {% endfor %}
          {% else %}
          <h1>nao existe usuarios cadastrados</h1>
          {% endif %}
      </div>
  </div>
</body>
</html>
